<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico">
</head>

<body>
    <div class="main">
    {{>header}}
    <img class="mePicture" src="/img/emmapicture.png">

    <h1><em>I'm Emma</em></h1>
        <p>Welcome to my little site i created to show some of my coding projects</p>

    <h2>About Me</h2>
            <p>I am currently learning to code to transition into a new career. Currently studying HTML, CSS and JS.</p>
            <hr>
            <h2>Education</h2>
            <p><strong>2006 - 2009 - University Of Wales Aberystwyth</strong></p>
            <p>BSc Equine and Human Sports Science (Hons) 2.1 (Upper second)</p>
            <p><strong>2004 – 2006 – New College</strong></p>
            <p>3 A-levels, Mathematics, Biology and Chemistry. 1 AS-level, Further Mathematics.</p>
            <p><strong>1999 – 2004 – Dorcan Technology College</strong></p>
            <p>11 GCSE’s from A-C including a double A in science.</p>
            <hr>

            <h2>Work Experience</h2>
            <table>
                <thead>
                    <th>Dates</th>
                    <th>Work</th>
                </thead>
                <tr>
                    <td>2020 - present</td>
                    <td>Home delivery Team leader</td>
                </tr>
                <tr>
                    <td>2009 - 2020</td>
                    <td>Customer assistant Morrisons Cafe</td>
                </tr>
                <tr>
                    <td>2008 - 2009</td>
                    <td>Customer assistant Poundland</td>
                </tr>
                <tr>
                    <td>2005 - 2008</td>
                    <td>Farmhand Roves farm visitor centre</td>
                </tr>
                <tr>
                    <td>2003 - 2005</td>
                    <td>Customer assistant Steam Cafe</td>
                </tr>
                <tr>
                    <td>2003 - 2006</td>
                    <td>Groom and Instructor South Cerney riding school</td>
                </tr>
            </table>
            <hr>

            <h2>Skills</h2>
            <table>
                <thead>
                    <th>Skill</th>
                    <th>Skill level</th>
                </thead>
                <tr>
                    <td>HTML</td>
                    <td>⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>⭐⭐</td>
                </tr>
                <tr>
                    <td>Javascript</td>
                    <td>⭐⭐</td>
                </tr>
                <tr>
                    <td>NodeJS</td>
                    <td>⭐⭐</td>
                </tr>
            </table>
    </div>
    {{>footer}}
</body>
</html>